html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: lightgray;
}

h1 {
    color: red;
    text-align: center;
    text-decoration: underline;
}

h2 {
    color:blue;
}

p {
    padding: 2rem 2rem 2rem 2rem;
}

p{
    padding: 1rem 10rem;
    font-size: 2rem;
    color: white;
    
}
h2{
    padding: 1rem 10rem;
    font-size: 4rem;
    color:darkblue;
}
#ultimo{
    padding: 1rem 10rem;
    font-size: 4rem;
    color:darkblue;
}
.caja {
    background-color: black;
    border-radius: 1rem;
}
